<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOLZAPP</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
</head>
<body class="body">

    <header class="col-10"></header>
    <aside class="sidebar-left col-1"></aside>
    <aside class="sidebar-right col-1"></aside>


    
    <div id="app" class="col-8">
        <aside class="col-4 sidebar-chat">
            <div class="first-line">
               <div class="left-side">
                    <div class="img-container">
                        <img src="img/avatar_4.jpg" alt="">
                    </div>
                    <span>Mattia Laurenzana</span>
               </div>
               <div class="right-side">
                    <i class="fas fa-circle-notch icon-grey"></i>
                    <i class="fas fa-comment-alt icon-grey"></i>
                    <i class="fas fa-ellipsis-v icon-grey"></i>
               </div>
            </div>
            <div class="second-line">
                <div class="img-container bell-container">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="notifiche-container">
                    <span>Ricevi notifiche di nuovi messaggi</span>
                    <a href="#/">Attiva notifiche desktop</a>
                </div>
            </div>

            <div class="input-search-container">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Cerca o inizia una nuova chat" class="input-chat" v-model="currentFilter" @keyup.delete="contactsRegenerator"/>
            </div>
            

            <div class="chats-container">
                <div v-for="(item,i) in contacts" class="click-contact" :class="i % 2 !== 0 ? 'white-line' : 'grey-line'" @click="selectContact(i)">
                   <div v-if="search(item)">
                        <div class="img-container">
                            <img :src="item.avatar" alt="">
                        </div>
                        <span class="chat-name">{{item.name}}</span>
                   </div>
                   
                </div>
            </div>
            
        </aside>
        <main class="col-8">
            
            <div class="header-message">
                <div class="header-message-left">
                    <div class="img-container">
                        <img :src="contacts[currentIndex].avatar" alt="">
                    </div>
                    <div class="informations-chat">
                        <span>{{contacts[currentIndex].name}}</span>
                        <span class="last-access">Ultimo accesso oggi alle 21:00</span>
                    </div>
                </div>
                <div class="header-message-right">
                    <i class="fas fa-search icon-grey"></i>
                    <i class="fas fa-paperclip icon-grey"></i>
                    <i class="fas fa-ellipsis-v icon-grey"></i>
                </div>
            </div>

            <!-- sezione chat -->
            <div class="chat">
                <div class="container">

                    <!-- messaggi chat -->
                    <div v-for="(item,i) in contacts[currentIndex].messages" class="message-container" :class="getClasses(item)">
                            <div class="message">{{item.text}}</div>
                            <span class="message-date">{{item.date}}</span>
                            <i class="fas fa-angle-down angle-down" @click="setModal(item)"></i>
                            <div class="modale" v-if="item.showModal">
                                <span class="modal-text" @click="deleteMessage(item,i)">Delete message</span>
                            </div>
                    </div>
                   
                </div>
            </div>

            <div class="input-area">
                <i class="far fa-smile"></i>
                <input type="text" placeholder="Scrivi un messaggio" v-model="currentMessage" @keyup.enter="addMessage(); delayFunction()">
                <i class="fas fa-microphone"></i>
            </div>


        </main>
    </div>

    <script src="js/script.js"></script>
</body>
</html>